* {
  font-family: Lato;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.edudash__colorscheme {
  transition: box-shadow 0.2s;
}

.edudash__colorscheme:hover {
  box-shadow: 0px 10px 13px -7px #000000, 0px 1px 2px 2px rgba(0, 0, 0, 0.11);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  transition: color 0.2s;
}

.btn-primary:hover {
  color: cornflowerblue !important;
}
